# Import

In [11]:
import pandas as pd

# Data Load

GDP Per Capita Data: <br>
https://www.kaggle.com/datasets/zgrcemta/world-gdpgdp-gdp-per-capita-and-annual-growths?resource=download&select=gdp_per_capita.csv

In [57]:
df_GDP_per_capita_import = pd.read_csv('gdp_per_capita.csv')

GDP Data: <br>
https://www.kaggle.com/datasets/zgrcemta/world-gdpgdp-gdp-per-capita-and-annual-growths?resource=download&select=gdp.csv

In [58]:
df_GDP_import = pd.read_csv('gdp.csv')

Country list and flag image urls: (borrowed from the Flourish example https://app.flourish.studio/@flourish/bar-chart-race)

In [59]:
df_Flags = pd.read_csv('Flags_UTF8.csv')

# Data Organization and Output

In [60]:
#original CSV had a corrupted column.. removing that now
df_GDP_per_capita_import.drop(columns=['Unnamed: 65'], inplace=True)
#original CSV had a corrupted column.. removing that now
df_GDP_import.drop(columns=['Unnamed: 65'], inplace=True)

In [61]:
df_GDP_per_capita_import.head(1)

,Country Name,Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24985.013919,24712.493263,26441.619936,26893.011506,28396.908423,28452.170615,29350.805019,30253.279358,NaN,NaN

In [62]:
df_GDP_import.head(1)

,Country Name,Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.549721e+09,2.534637e+09,2.727850e+09,2.790849e+09,2.962905e+09,2.983637e+09,3.092430e+09,3.202189e+09,NaN,NaN

In [63]:
df_Flags.head(1)

  Country_Name Region                                          Image_URL
0  Afghanistan   Asia  https://public.flourish.studio/country-flags/s...

In [64]:
df_GDPperCap = df_Flags.merge(df_GDP_per_capita_import, how='left', left_on='Country_Name', right_on='Country Name')
df_GDPperCap.drop(columns='Country Name', inplace=True)

In [65]:
df_GDPperCap.head(2)

,Country_Name,Region,Image_URL,Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,Asia,https://public.flourish.studio/country-flags/svg/af.svg,AFG,59.773234,59.8609,58.458009,78.706429,82.095307,101.108325,...,591.190030,638.845852,624.315455,614.223342,556.007221,512.012778,516.679862,485.668419,494.179350,516.747871
1,Albania,Europe,https://public.flourish.studio/country-flags/svg/al.svg,ALB,NaN,NaN,NaN,NaN,NaN,NaN,...,4437.142612,4247.630047,4413.062005,4578.633208,3952.802538,4124.055390,4531.019374,5287.663694,5395.659532,5246.292306

In [66]:
df_GDP = df_Flags.merge(df_GDP_import, how='left', left_on='Country_Name', right_on='Country Name')
df_GDP.drop(columns='Country Name', inplace=True)

In [67]:
df_GDP.head(2)

,Country_Name,Region,Image_URL,Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,Asia,https://public.flourish.studio/country-flags/svg/af.svg,AFG,537777811.1,548888895.6,546666677.8,751111191.1,800000044.4,1.006667e+09,...,1.780511e+10,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10
1,Albania,Europe,https://public.flourish.studio/country-flags/svg/al.svg,ALB,NaN,NaN,NaN,NaN,NaN,NaN,...,1.289076e+10,1.231983e+10,1.277622e+10,1.322815e+10,1.138685e+10,1.186120e+10,1.301969e+10,1.515643e+10,1.540024e+10,1.488763e+10

## Scale the data 
Scale GDP by 1,000,000,000 (1B) <br>
Scale GDP_per_capita by 1000 (1k)

In [68]:
df_GDPperCap.shape

(215, 65)

From the df above, we see the values start in column index 4.  We apply to the remainder (66) and +1 since iloc is not inclusive

In [69]:
df_GDPperCap.iloc[:,4:67] = df_GDPperCap.iloc[:,4:67]/1000

In [70]:
df_GDP.shape

(215, 65)

In [71]:
df_GDP.iloc[:,4:67] = df_GDP.iloc[:,4:67]/1000000000

# Export

In [72]:
df_GDPperCap.to_csv('Export_Data/df_GDPperCap.csv', index=False)

In [74]:
df_GDP.to_csv('Export_Data/df_GDP.csv', index=False)

# Pie Chart Data Setup

In [75]:
df_GDP_pie = df_GDP.groupby('Region', as_index=False).sum()

In [76]:
df_GDP_pie.head()

,Region,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Africa,31.152387,32.041969,34.273269,39.607071,39.154839,49.277176,52.474627,53.164579,57.101007,...,2231.300807,2387.882641,2503.345339,2570.344318,2349.855224,2226.488676,2261.143110,2389.490234,2489.149451,2393.310224
1,Americas,626.077122,667.133113,740.690036,778.822224,840.713563,912.985414,1002.456864,1056.325700,1152.728380,...,23429.820931,24182.688266,24941.704205,25766.992666,24917.955201,25280.734335,26753.795714,27778.444185,28539.343272,27097.617906
2,Asia,191.998009,189.659091,198.021712,222.307105,255.112427,283.913646,299.073138,330.182313,369.948257,...,23472.432480,24930.353566,25214.774785,26162.447612,25856.810061,26934.083605,28878.474094,30984.240049,31711.641387,31188.803919
3,Europe,191.363825,210.248914,232.919988,260.098019,289.304732,316.196108,356.545245,387.326224,414.599826,...,17300.939311,16187.283531,16910.534497,17196.258042,14885.772418,15199.090118,16123.416417,17468.127658,17177.370075,16730.906906
4,Oceania,24.435466,25.714939,26.384310,28.584286,31.520587,32.458990,34.095066,37.436594,39.052882,...,1608.533540,1768.509616,1813.966952,1718.969953,1575.457079,1442.374993,1584.144321,1693.369639,1657.865816,1579.293388

In [77]:
df_pie_stacked = pd.melt(df_GDP_pie, id_vars=['Region'])

In [80]:
df_pie_stacked.head(5)

     Region variable       value
0    Africa     1960   31.152387
1  Americas     1960  626.077122
2      Asia     1960  191.998009
3    Europe     1960  191.363825
4   Oceania     1960   24.435466

In [79]:
df_pie_stacked.to_csv('Export_Data/df_GDP_Pie.csv', index=False)

One problem that we have is that Africa and Oceania are next to eachother on the pie chart <br>
and they're both so small that the labels overlap.  We can do a custom sort on the data to do <br>
something other than 'alphabetical'

In [81]:
sorter = ['Africa', 'Americas', 'Europe', 'Oceania', 'Asia']

In [82]:
df_pie_stacked.Region = df_pie_stacked.Region.astype("category")

In [84]:
df_pie_stacked.Region = df_pie_stacked.Region.cat.set_categories(sorter)

In [85]:
print(df_pie_stacked.Region)

0        Africa
1      Americas
2          Asia
3        Europe
4       Oceania
         ...
300      Africa
301    Americas
302        Asia
303      Europe
304     Oceania
Name: Region, Length: 305, dtype: category
Categories (5, object): ['Africa', 'Americas', 'Europe', 'Oceania', 'Asia']

In [86]:
df_pie_stacked.sort_values(['variable','Region'], inplace=True)

In [88]:
df_pie_stacked.head(6)

     Region variable       value
0    Africa     1960   31.152387
1  Americas     1960  626.077122
3    Europe     1960  191.363825
4   Oceania     1960   24.435466
2      Asia     1960  191.998009
5    Africa     1961   32.041969

In [89]:
df_pie_stacked.to_csv('Export_Data/df_GDP_Pie_reorder.csv', index=False)